:root{
    --bg_main:#215f2b;
    --text_light: #fff;
    --text_medium: #8362ad;
    --text_dark: #5914a8;
    --red: #2c95a3;
    --dark_red: #084e63;
    --orange: #ff8c00;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}

button, input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
}

img {
  display: flex;
  margin: auto;
  flex-direction: column;
    height: auto;
    display: block;
    max-width: 100%;
    border: solid;
    padding: 15px;
    background-color: var(--text_light);
    border-color: var(--text_medium);
    border-width: 5px;
}

ul {
    list-style: none;
}

body {
    background: var(--bg_main);
}

.top-banner {
    color: var(--text_light);
  }
   
