:root {
  --bg_main: #215F2B;
  --text_light: #fff;
  --text_medium: #8362AD;
  --text_dark: #5914A8;
  --red: #2C95A3;
  --dark_red: #084E63;
  --orange: #FF8C00;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.heading {
  display: flex;
  width: auto;
  flex-direction: center;
  margin: auto;
  padding: 40px;
  font-size: 50px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding: 15px;
}
.form-control {
  border: solid;
  border-width: 1px;
  padding: 5px;
  background-color: var(--text_light);
  border-radius: 2.5px;
  color: var(--text_dark);
}
button {
  cursor: pointer;
  border: solid;
}
input {
  -webkit-appearance: none;
}
button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}
img {
  display: flex;
  margin: auto;
  flex-direction: column;
  height: auto;
  display: block;
  max-width: 100%;
  border: solid;
  padding: 15px;
  background-color: var(--text_light);
  border-color: var(--text_medium);
  border-width: 5px;
}
#dad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  margin: auto;
  margin-top: 30px;
  width: 400px;
  align-content: center;
  border: solid;
  border-color: var(--text_medium);
  background-color: var(--text_light);
}
ul {
  list-style: none;
}
body {
  background: var(--bg_main);
}
.puppy {
  width: 50%;
  display: flex;
  margin: auto;
}

.top-banner {
  color: var(--text_light);
}
p {
  align-items: flex-end;
  text-align: center;
  font-style: oblique;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  border-style:solid;
  color: black;
}
#forecast {
    display:flex;
    justify-content:flex-start;
    justify-content: space-between;
    padding: 10px;
    margin-left: 15px;
    border-radius: 15px;
}  



.itemBlock {
    align-items: center;
    text-align: center;
    color:lightcyan;
}
.currentCity {
  display: grid;
  justify-content: center;  
  padding: 20px;
  /* border: solid lightcyan; */
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fff;
  font-size: larger;



}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  border: solid;
  border-color: var(--text_dark);
  background-color: var(--text_light);
  color: var(--text_dark);
  color: black;
  border: solid;
  border-color: rgb(3, 3, 99);
  border-radius: 2.5px;
  background-color: rgb(94, 160, 108);
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
}